<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="footer-widget-column col-md-4 col-sm-6">
          <div id="media_image-2" class="footer-widget widget widget_media_image">
            <div class="widget-inner"><img src="assets/images/logo-xe-dap-mint-speed-white-1.png" class="logo" alt="Logo"></div>
          </div>
          <div id="text-2" class="footer-widget widget widget_text">
            <div class="widget-inner">
              <div class="textwidget">
                <p>Hotline: +012 345 6789</p>
              </div>
            </div>
          </div>
          <ul class="header-topbar-links">
            <li><a href="https://fb.com/mintspeedxedapthethao" target="_blank" rel="nofollow"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank" rel="nofollow"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Chính sách và quy định</h5>
          <div class="menu-chinh-sach-container">
            <ul id="menu-chinh-sach" class="menu">
              <li id="menu-item-176"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-176">
                <a rel="privacy-policy" href="https://mintspeed.vn/chinh-sach-bao-hanh/">Chính Sách Bảo Hành</a>
              </li>
              <li id="menu-item-376" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-376">
                <a href="https://mintspeed.vn/chinh-sach-doi-tra-va-hoan-tien/">Chính sách
                  đổi trả và hoàn tiền</a>
              </li>
              <li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178">
                <a href="https://mintspeed.vn/chinh-sach-thanh-toan/">Chính sách thanh
                  toán</a>
              </li>
              <li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180">
                <a href="https://mintspeed.vn/chinh-sach-van-chuyen-va-giao-nhan/">Chính
                  sách vận chuyển và giao nhận</a>
              </li>
              <li id="menu-item-377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-377">
                <a href="https://mintspeed.vn/gioi-thieu/">Giới thiệu</a>
              </li>
              <li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179">
                <a href="https://mintspeed.vn/lien-he/">Liên hệ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>