.nav-item.active,
.nav-item.active a,
.nav-link.active {
  color: red; /* Màu chữ khi ở trên trang Product hoặc trang khác */
}

.nav-link {
  color: #333; /* Màu mặc định của các liên kết */
}

.nav-link:hover {
  color: red; /* Màu chữ khi hover */
}

.logo {
  max-height: 150px; /* Chiều cao tối đa của logo */
  filter: brightness(0) contrast(1); /* Điều chỉnh độ sáng và độ tương phản để làm cho logo thành màu đen */
}