.nav-item.active,
.nav-item.active a,
.nav-link.active {
  color: red; /* Màu chữ khi ở trên trang Product hoặc trang khác */
}

.nav-link {
  color: #333; /* Màu mặc định của các liên kết */
}

.nav-link:hover {
  color: red; /* Màu chữ khi hover */
}

.logo {
  max-height: 150px; /* Chiều cao tối đa của logo */
  filter: brightness(0) contrast(1); /* Điều chỉnh độ sáng và độ tương phản để làm cho logo thành màu đen */
}

//-------------------
.nav-item {
  position: relative;
  display: inline-block; // Đảm bảo rằng phần tử hiển thị theo hàng ngang
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0; // Căn thẳng với phần tử gốc (chữ Hello)
    transform: translateX(20px);
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;

    .dropdown-item {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000; /* Đảm bảo nó hiển thị phía trên các phần tử khác */
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.icon-large {
  font-size: 24px !important; /* Tăng kích thước biểu tượng theo ý muốn */
  vertical-align: middle; /* Đảm bảo biểu tượng căn giữa dọc */
  margin-right: 5px; /* Khoảng cách giữa biểu tượng và các phần tử khác (nếu cần) */
}

.nav-link {
  display: flex; /* Sử dụng flexbox để căn giữa */
  align-items: center; /* Căn giữa theo chiều dọc */
  padding: 10px; /* Điều chỉnh padding để tạo không gian cho biểu tượng */
}


