@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1527px;
  }
}

.search-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;

  .card-hov {
    width: calc(20% - 16px);
    box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  .search-shop {
    .card-hov {
      width: calc(20% - 16px);
    }
  }
}

@media (max-width: 768px) {
  .search-shop {
    .card-hov {
      width: calc(20% - 16px);
    }
  }
}

// Thêm viền cho các form ảnh
.search-shop .card-hov {
  border: 1px solid #C0C0C0; // Màu viền
  border-radius: 7px; // Bo tròn các góc
  overflow: hidden; // Đảm bảo các ảnh không tràn ra ngoài viền
}

// Hiệu ứng khi hover vào ảnh
.search-shop .card-hov:hover img {
  transform: scale(1.05); // Phóng to ảnh khi hover
}

.text-xs {
  font-size: 13px;
}

@media (min-width: 640px) {
  .sm\:text-md {
      font-size: 16px;
  }
}

.text-md {
  font-size: 20px;
}

.text-primary1 {
  --tw-text-opacity: 1;
  color: rgb(51 47 248 / var(--tw-text-opacity));
  font-size: 1.2rem; /* Thêm thuộc tính font-size để tăng kích thước chữ */
}

.font-bold {
  font-weight: 700;
}

.price-container {
  display: flex;
  flex-direction: column;
  height: 80px; /* Chiều cao cố định cho phần container */
  justify-content: center; /* Căn giữa theo chiều dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
}

.price {
  font-weight: bold;
  font-size: 1.25rem; /* Kích thước giá gốc */
}

.discount-price {
  font-weight: bold;
  color: #ff0000; /* Màu đỏ cho giá đã giảm */
  font-size: 1.1rem; /* Kích thước giá đã giảm */
  text-decoration: line-through;
  opacity: 0.6; /* Giảm độ sáng cho giá gốc đã giảm */

}

@media (min-width: 1025px) {
  .lg\:text-2xl {
      font-size: 24px;
  }
}

.leading-9 {
  line-height: 2.25rem;
}

.uppercase {
  text-transform: uppercase;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}

h2.uppercase {
  text-align: left; // Căn văn bản về phía bên phải
}