<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="#">Home</a>
        <a class="breadcrumb-item text-dark" href="#">Form-Search</a>
        <!-- <span class="breadcrumb-item active">Shop List</span> -->
      </nav>
    </div>
  </div>
</div>
<div class="w-full h-full px-4 lg:px-[60px] xl:px-[72px]  ">
  <div class="container mx-auto">
    <div class="mt-6 lg:p-12 bg-white rounded-lg">
      <h2 class="uppercase text-[#080B12] font-bold text-lg lg:text-2xl leading-9 mb-6">Kết quả tìm kiếm cho từ
        khoá: {{keyword}}
      </h2>
      <div class="grid gap-6 lg:grid-cols-5 md:grid-cols-2 grid-cols-2 search-shop">
        <div *ngFor="let product of productSearchResults"
          class="flex flex-col justify-start items-center w-full border-gray-20 rounded-lg bg-white border-[1px] border-solid min-h-[304px] sm:min-h-[300px] h-full card-hov">
          <div class="w-full flex flex-col justify-start min-h-[304px] sm:min-h-[300px] h-full">
            <div class="w-full relative overflow-hidden">
              <a [href]="">
                <div class="relative w-full group">
                  <img [src]="getImageUrl(product)" height="840" width="840"
                    class="w-auto h-auto rounded-tr-[7px] rounded-tl-[7px] object-fit inset-0 transition-opacity duration-500 opacity-100 group-hover:opacity-0">
                </div>
              </a>
            </div>
            <div class="w-full flex flex-col justify-center gap-2 p-4 text-center">
              <h3>
                <a class="title-product font-medium line-clamp-2 text-xs sm:text-md" [href]="product"
                  style="min-height: 3rem;">
                  {{ product.productName }}
                </a>
              </h3>
              <div *ngIf="product.price" class="flex flex-col price-container">
                <span class="text-primary1 price">{{ product.price | currency }}</span>
                <span
                  class="font-bold text-primary1 opacity-[0.6] block w-full line-through text-center discount-price">
                  {{ product.price | currency }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-10 flex justify-center"></div>
    </div>
  </div>
</div>