<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Breadcrumb Start -->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row px-xl-5">
        <div class="col-12">
          <nav class="breadcrumb bg-light mb-30">
            <a class="breadcrumb-item text-dark" href="#">Home</a>
            <a class="breadcrumb-item text-dark" href="#">Search</a>
            <!-- <span class="breadcrumb-item active">Shop List</span> -->
          </nav>
        </div>
      </div>
    </div>
    <div class="w-full h-full px-4 lg:px-[60px] xl:px-[72px]">
      <div class="container mx-auto">
        <div class="mt-6 lg:p-12 bg-white rounded-lg">
          <h2 class="uppercase text-[#080B12] font-bold text-lg lg:text-2xl leading-9 mb-6">
            Kết quả tìm kiếm cho từ khoá: {{ keyword }}
          </h2>

          <div class="grid gap-6 lg:grid-cols-5 md:grid-cols-2 grid-cols-2 search-shop">
            <div *ngFor="let product of getCurrentPageItems()"
              class="flex flex-col justify-start items-center w-full border-gray-20 rounded-lg bg-white border-[1px] border-solid min-h-[304px] sm:min-h-[300px] h-full card-hov">
              <div class="w-full flex flex-col justify-start min-h-[304px] sm:min-h-[300px] h-full">
                <div class="w-full relative overflow-hidden">
                  <!-- Sửa href thành routerLink -->
                  <a [routerLink]="['/productdetail', product.productName, product.id]">
                    <div class="relative w-full group">
                      <img [src]="getImageUrl(product)" height="840" width="840"
                        class="w-auto h-auto rounded-tr-[7px] rounded-tl-[7px] object-fit inset-0 transition-opacity duration-500 opacity-100 group-hover:opacity-0">
                    </div>
                  </a>
                </div>
                <div class="w-full flex flex-col justify-center gap-2 p-41 text-center">
                  <h3>
                    <!-- Sửa href thành routerLink -->
                    <a class="title-product font-medium line-clamp-2 text-xs sm:text-md" 
                      [routerLink]="['/productdetail', product.productName, product.id]" 
                      style="min-height: 3rem;">
                      {{ product.productName }}
                    </a>
                  </h3>
                  <div class="flex flex-col price-container">
                    <span class="text-primary1 price" *ngIf="product.price !== 0">
                      {{ formatPriceToVND(product.price) }}
                    </span>
                    <span class="font-bold text-primary1 opacity-[0.6] block w-full line-through text-center discount-price" *ngIf="product.priceHasDecreased !== 0">
                      {{ formatPriceToVND(product.priceHasDecreased) }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <div class="col-12" *ngIf="productSearchResults.length > 0">
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1" (click)="changePage(currentPage - 1, $event)">
          <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of getPages()" [class.active]="currentPage === page" (click)="changePage(page, $event)">
          <a class="page-link" href="#">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === getTotalPages()" (click)="changePage(currentPage + 1, $event)">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</html>
