<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand"> Admin Panel</span> <!-- Hiển thị chữ Admin Panel -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/employees/create">Tạo Nhân Viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/employees">Danh Sách Nhân Viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin-login" (click)="onLogout()">Đăng Xuất</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin-panel" (click)="navigateToAdminPanel()">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>