.list-group-item {
  font-size: 1rem;
  padding: 15px 20px;
  border: none;
  color: white;
  background-color: #343a40;
}

.list-group-item:hover {
  background-color: #495057;
  transition: background-color 0.2s;
}

.list-group-item i {
  margin-right: 10px;
}

/* Main content container */
.container {
  padding: 2rem;
  flex-grow: 1;
  background-color: #f8f9fa;
}


/* Form styling */
.form-group {
  margin-bottom: 0.75rem;
  /* Giảm khoảng cách giữa các trường */
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 0.75rem;
  margin: 0;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.create-btn {
  margin-top: 1rem;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  width: 50%;
  background-color: #ffc107;
  color: #343a40;
  border: none;
  border-radius: 5px;
}

.alert {
  font-size: 1rem;
}


h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 1rem;
  text-align: center;
  /* Căn giữa chữ */
}

#wrapper {
  display: flex;
  min-height: 100vh;
  margin: 0;
  /* Xóa khoảng cách thừa */
}


#sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  flex: 1;
}

.list-group-item {
  transition: background-color 0.2s;
}

.list-group-item:hover {
  background-color: #1b1e21;
}

.sidebar-heading {
  font-size: 1.5rem;
  /* Kích thước chữ lớn hơn */
  font-weight: bold;
  /* Làm đậm chữ */
  text-align: center;
  /* Canh giữa */
  padding: 15px;
  /* Thêm khoảng cách xung quanh */
  background-color: #343a40;
  /* Màu nền tương tự như sidebar */
  border-bottom: 2px solid #727880;
  /* Đường viền dưới màu xanh dương */
  margin-bottom: 10px;
  /* Khoảng cách dưới */
  letter-spacing: 1px;
}

#wrapper {
  display: flex;
  min-height: 100vh;
  margin: 0;
  /* Xóa khoảng cách thừa */
}